<header class = "background_cover_who" 
        style = "background-image:url(<%= asset_path "picture.jpg" %>); padding-top:10px" >
<!-- bar 시작 -->
    <div class ="container">
        <ul class="nav nav-pills" style="float:right">
            <li role="presentation" class="clickable"><a href="/">메인</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/home/who">Who am I?</a></li>
                  <li><a id="diary" href="#">Diary</a></li>
                  <li><a href="/home/plan">Plan</a></li>
                  <li><a href="/home/coding">Coding</a></li>
                  <li><a href="/home/picture">Picture</a></li>
                </ul>
            </li>
        </ul>
    </div>
<!-- bar 끝 -->
    <div class="background_cover_in" style="padding-top:150px; padding-bottom:150px">
        <div class="background_cover_in_in">
            <div style="font-size:32px">
                <strong>
                    Picture
                </strong>
            </div>
        </div>
    </div>
</header>

<div class = "container" style="width: 80%; text-align: center; padding-top: 100px;">
  <%=form_tag "/home/update_picture", enctype: "multipart/form-data", method: "post" do %>
    <input type="hidden" name = "id" value="<%= @picture.id %>">
    <div class="form-group">
      <input type="text" class="form-control" name="title" value="<%= @picture.title %>">
    </div>
    <div class="form-group">
      <input type="file" name="image_file" value="<%= @picture.my_image.url %>">
    </div>
    <br>
    <button class="btn btn-success">Edit</button>
  <% end %>
</div>